<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pktworld.railway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SlideMenuActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainInfoActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainLiveStatusActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.PnrStatusActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.SeatAvilabilityActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.FareEnquryActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainRouteActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainBetweenStationActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.CancelTrainActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainArrivalsAtStationActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>
