<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pktworld.railway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.pktworld.railway.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <permission
        android:name="com.pktworld.railway.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".parseutils.RailwayApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SlideMenuActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <!--<activity android:name=".activity.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>-->
        <activity android:name=".activity.SignUpActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainInfoActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainLiveStatusActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.PnrStatusActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.SeatAvilabilityActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.FareEnquryActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainRouteActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainBetweenStationActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.CancelTrainActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.TrainArrivalsAtStationActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.BookTicketActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.SettingActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activity.ForgotPasswordActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".parseutils.OneToOneChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/MyMaterialTheme">

        </activity>
        <activity
            android:name=".parseutils.GotBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/MyMaterialTheme">

        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_application_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".parseutils.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />

            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.pktworld.railway" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:658642736732" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9a1a304fa31cda48ebb3611515ab5cdade784704" />
    </application>

</manifest>
